* {
    margin: 0;
    padding: 0;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}



.box {
    background-color: #272030;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e3ebf2;
    margin: 0px 0px 10px 0px;
    height: 34px;
    position: sticky;
    z-index: 3;
    top: 0;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    padding: 0px 20px;
    font-family: "Noto Sans Myanmar", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    transition: 1s;
    color: #e3ebf2;
}

.list {
    margin-top: 10px;
    align-items: center;
    display: flex;
    font-family: "Cutive Mono", serif;
    font-weight: 600;
    font-style: normal;
    height: 30px;
    color: #272030;
}

p {
    font-weight: bold;
    font-size: 30px;
}

.home_btn {
    border: none;
    /* border: 1px solid black; */
    padding: 5px 20px;
    border-radius: 10px;
    color: #272030;
    box-shadow: none;
    font-family: "Noto Sans Myanmar", serif;
    font-weight: 300;
    font-size: 12px;
    font-style: normal;
    transition: 0.3s;
}

li:hover {
    cursor: pointer;
    opacity: 0.8;
    border-bottom: 1px solid #e3ebf2;
}

.home_btn:hover {
    /* border-radius: 20px; */
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
    background-color: #272030;
    color: #e3ebf2;
    border: 1px solid #e3ebf2;
}

.logo {
    font-family: "Jura", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: 1s;
}

.logo a p {
    color: #e3ebf2;
}

.logo:hover {
    transform: translateX(10px);
}

/* --------------------------------------------------------- */
body {
    background-color: rgb(236, 226, 226);
}

.container {
    overflow: hidden;
    display: flex; gap: 20px;
    margin-left: 350px;
}

.container h1 {
    font-size: 120px;
    margin-top: 90px;
    font-family: "Noto Sans Myanmar", serif;
    font-weight: 500;
    font-style: normal;
}

.container img {
    width: 400px;
    height: 450px;
    margin-top: 90px;
    margin-left: 70px;
    border-radius: 30px;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    /*animation: fadeOut 5s backwards;
    animation-timeline: scroll();*/
}

button {
    /* background-color: skyblue; */
    text-align: center;
    padding: 9px 22px;
    border-radius: 30px;
    /* margin-left: 610px; */
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    border: 1px solid skyblue;
}

.pomo-btn {
    text-decoration: none;
    color: black;
    font-size: 15px;
}



/*@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}*/
.box1 {
    margin-top: 230px;
    border: 1px solid  #567C8D;
    /* width: 450px; */
    /* height: 590px; */
    background-color: #567C8D;
    border-radius: 20px;
    padding: 40px 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.item1 h1 {
    text-align: center;
}

.box1 .item2 p {
    text-indent: 50px;
    text-align: justify;
    padding: 15px;
    font-family: "Noto Sans Myanmar", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 40px;
    color: #F5EFEB;
}

.box2 {
    padding: 20px 40px;
}

.card {
    /* overflow: hidden; */
    margin: 30px 20px;
    display: flex;
    width: 950px;
    height: 280px;
    border: 1px solid  #567C8D;
    /* margin-top: 30px; */
    border-radius: 20px;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    background-color: #C8D9E6;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.right {
    float: right;
}

.content1 img {
    height: 260px;
    width: 300px;
    border-radius: 20px;
    padding: 9px 10px;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.content2 {
    flex: 2 1 300px;
    ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 16px;
    text-align: justify;
}

.content2 p {
    text-indent: 50px;
    font-family: "Noto Sans Myanmar", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.content3 img {
    height: 260px;
    width: 300px;
    border-radius: 20px;
    padding: 9px 10px;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.content4 {
    flex: 2 1 300px;
    ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 16px;
    text-align: justify;
}

.content4 p {
    text-indent: 50px;
    font-family: "Noto Sans Myanmar", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.content5 img {
    height: 260px;
    width: 300px;
    border-radius: 20px;
    padding: 9px 10px;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.content6 {
    flex: 2 1 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 16px;
    text-align: justify;
}

.content6 p {
    text-indent: 50px;
    font-family: "Noto Sans Myanmar", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.content7 img {
    height: 260px;
    width: 300px;
    border-radius: 20px;
    padding: 9px 10px;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.content8 {
    flex: 2 1 300px;
    ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 16px;
    text-align: justify;
}

.content8 p {
    text-indent: 50px;
    font-family: "Noto Sans Myanmar", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.card:hover {
    transform: scale(1.09);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}