* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 2000px; */
  background-color: #e3ebf2;
}

.home {
  background-color: #e3ebf2;
  background-size: cover;
  height: 100vh;
}

.box {
  z-index: 2;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #272030;
  margin: 0px 0px 10px 0px;
  height: 35px;
  position: sticky;
  top: 0;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  padding: 0px 20px;
  font-family: "Noto Sans Myanmar", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  transition: 1s;
  /* color: #e3ebf2; */
}

.list {
  margin-top: 10px;
  align-items: center;
  display: flex;
  font-family: "Cutive Mono", serif;
  font-weight: 600;
  font-style: normal;
  height: 30px;
}

.home_btn {
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #272030;
  align-items: center;
  font-family: "Noto Sans Myanmar", serif;
  font-weight: 300;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  color: #e3ebf2;
}

li:hover {
  cursor: pointer;
  opacity: 0.8;
  border-bottom: 1px solid #272030;
}

.home_btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  background-color: #e3ebf2;
  opacity: 0.7;
  color: #272030;
  border: 1px solid #272030;
}

.logo {
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition: 1s;
}

.logo a p {
  color: #272030;
  font-size: 30px;
  font-weight: bold;
}

.logo:hover {
  transform: translateX(10px);
}

.text {
  font-optical-sizing: auto;
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 900;
  font-size: 40px;
  font-style: normal;
  cursor: pointer;
  animation: text-animation 5s ease-in-out infinite;
  color: #272030;
  /* padding-top: 10px; */
}

.img {
  margin-top: 20px;
  width: 450px;

  height: 300px;
}

.im {
  width: 50px;
  height: 30px;
  float: left;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}

.img1 {
  margin-top: 20px;
  width: 500px;

  height: 300px;
}
#read {
  cursor: pointer;
}

.sec-header {
  /* display: inline; */
  /* display: inline-flex; */
  background-color: #2d2735;
  /* font-size: 30px; */
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  padding-bottom: 20px;
  text-shadow: 0px 5px 15px #272030;
  width: 60%;
  text-align: center;
  /* align-items: center; */
  margin: 0 auto;
  color: #e3ebf2;
}

.basic {
  /* padding-top: 40px; */
  /* padding: 20px 0px; */
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 700;
  font-size: 23px;
  font-style: normal;
  /* border-top: 1px solid #272030; */
  padding-top: 30px;
  /* background-color: #272030; */
  color: #272030;
}

.card {
  padding: 20px 20px;
  /* height: 400px; */
  width: 200px;
  /* text-align: left; */
  transition: 0.5s;
  border-radius: 10px;
}

.head-content {
  font-family: "Noto Sans Myanmar", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  color: #272030;
  margin-bottom: 10px;
}

.img2 {
  width: 200px;
  height: 200px;
  filter: drop-shadow(1px 1px 20px #e3ebf2);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 15px #272030;
}

.head-baby {
  font-family: "Noto Sans Myanmar", sans-serif;

  font-size: 11px;
  font-style: normal;
  color: #272030;
}

.fe {
  display: flex;
  /* gap: 100px; */
  justify-content: space-around;
  margin-top: 70px;
}

p {
  text-align: justify;
  color: white;
}

.sec {
  margin-top: 100px;
  margin-bottom: 50px;
}

.sec p {
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: #272030;
  text-align: center;
  justify-content: center;
}
/* .mya {
  font-size: 50px;
  text-align: center;
  justify-content: center;
  background-size: 200%;
  background: linear-gradient(90deg, #ff8a00, #e52e71, #00c6ff, #243b55);
  background-clip: text;
  animation: text-animation 5s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.first {
  background-image: url(his.jpg);
  border-image: fill 0 linear-gradient(#0001, #e3ebf2);
  background-repeat: repeat;
  background-size: 30%;
  height: 260px;
  text-align: left;
}
@keyframes text-animation {
  0% {
    background-position: 0% 50%;
    opacity: 0.3;
  }
  50% {
    background-position: 100% 50%;
    opacity: 1;
  }
  100% {
    background-position: 0% 50%;
  }
}
html {
  scroll-behavior: smooth;
}

.his {
  /* background-color: cadetblue; */
  margin: 0px 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.te p {
  text-align: justify;
  width: 85%;
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 580;
  font-size: 15px;
  color: #272030;
}
.th {
  /* background-color: #656b49; */
  margin: 0px 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.th p {
  text-align: justify;
  margin-left: 50px;
  /* width: 90%; */
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 580;
  font-size: 15px;
  color: #272030;
}
.le {
  margin-right: 20px;
  filter: drop-shadow(1px 1px 20px cadetblue);
}
.ig {
  width: 450px;
  height: 350px;
  margin-right: 50px;
  overflow: hidden;
  filter: drop-shadow(1px 1px 20px #272030);
}
.pi {
  margin-left: 200px;
}
.t {
  border-radius: 20px;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.history-content {
  color: #272030;
  text-align: justify;
  padding: 30px 20px;
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 500;
  font-size: 13px;
  width: 1000px;
  border: 1px solid #272030;
  border-radius: 5px;
  font-style: normal;
  margin: 50px auto;
}
